body {
    color: #EEF3EC;
    background-color: #0D1117;
    font-family: 'Sans-serif';
    font-size: 24px;
    padding: 3em;
  }

h1 {
  font-family: 'Montserrat';
  font-size: 60px;
}

h2 {
  font-family: 'Montserrat';
  font-size: 30px;
}

a {
  color: #58A6FF;
}

.center50 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center25 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.topnav {
  overflow: hidden;
  background-color: #161B22;
}

.topnav a {
  float: left;
  color: #EEF3EC;
  text-align: center;
  width: 33%;
  box-sizing: border-box;
  padding: 14px;
  text-decoration: none;
  font-size: 24px;
}

.topnav a:hover {
  color: #AFB5BB;
}